@font-face {
    font-family: JetBrainsMapleMono;
    src: url('./fonts/jetbrains-maple-mono_regular.ttf') format('truetype');
}

@font-face {
    font-family: OPPOSans;
    src: url('./fonts/oppo-sans.ttf') format('truetype');
}

:root {
    font-family: 'OPPOSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'OPPOSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    height: 100vh;
    user-select: none;
    background-color: #f1f1f1;
}

.progress-bar {
    height: 4px;
    z-index: 10;
    display: block;
    background: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.1s ease;
    margin: 4px;
    border-radius: 20px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

#launcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    justify-content: space-between;
}

.logs {
    margin: 10px 0;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    user-select: text !important;
}

.logs>* {
    user-select: text !important;
}

.log-success,
.log-notfound,
.log-error {
    color: #303030;
    font-family: 'JetBrainsMapleMono', system-ui, monospace;
    margin: 2px 0;
    padding: 2px 5px;
    font-size: 13px;
    user-select: text !important;
}

#logs {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 8px;
    min-height: 58px;
    max-height: 72px;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 4px 0 6px 0;
}

details {
    margin: 0;
    background: #f8f8f8;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 14px;
    box-sizing: border-box;
    min-width: 372px;
    transition: all 0.3s ease;
}

details[open] {
    min-width: calc(372px * 2 + 6px);
}

#console {
    width: 50%;
    min-width: 528px;
    max-width: 664px;
    /* height: 196px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: sticky;
    bottom: 10px;
    /* top: calc(100vh - 196px - 20px); */
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 8px;
    gap: 2px;
    box-sizing: border-box;
    /* margin-top: -196px; */
    background: #ffffff;
    box-shadow: #00000030 0px 6px 14px;
}

/* h1 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
} */

h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    gap: 2px;
}

details[open] summary .title-container {
    opacity: 0;
}

summary {
    cursor: pointer;
    /* color: #4CAF50; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

summary::marker {
    display: none;
    content: '';
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.logs-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    font-family: "JetBrainsMapleMono", monospace;
}

.logs-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    /* margin-left: 4px; */
    background: #333435;
    /* width: 148px; */
    /* border-radius: 10px 10px 0 0; */
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: row-resize;
    user-select: none;
}

.logs-header path {
    fill: white;
}

.download-btn:hover {
    background-color: #ffffff;
}

button:hover {
    background-color: #e9e9e9;
}

.download-btn,
button {
    display: flex;
    padding: 8px 16px;
    background-color: #f5f5f5;
    color: #000000;
    text-decoration: none;
    border-radius: 32px;
    border: unset;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.25s ease;
    font-size: 14px;
    font-family: 'OPPOSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    min-height: 36px;
    box-sizing: border-box;
}

button#pauseBtn,
button#startBtn {
    padding: 0;
    width: 36px;
    height: 36px;
}

button#startBtn {
    background: var(--primary-color);
    color: white;
}

button#startBtn:hover {
    background: color-mix(in srgb, var(--primary-color) 75%, transparent);
    color: white;
}

button#startBtn[disabled] {
    pointer-events: none;
    background: #b0b0b0;
}

button#startBtn svg path {
    fill: white;
}

.download-btn svg path,
button svg path {
    fill: #000000;
}

.button-group {
    display: flex;
    gap: 6px;
}

#details-container {
    margin-bottom: 216px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* height: calc(100vh - 196px - (4px * 3));
    max-height: calc(100vh - 196px - (4px * 3)); */
    gap: 6px;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.preview-img {
    height: 196px;
}

.img-container {
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
    gap: 12px;
}

.watchface-id-span {
    font-family: 'JetBrainsMapleMono';
    font-size: 14px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: -40px;
    margin-bottom: 4px;
    background: #f8f8f8;
    position: relative;
    z-index: 50;
    opacity: 0;
}

.download-btn:hover {
    background: var(--primary-color);
    color: white;
}

details[open] .btn-container {
    opacity: 1;
}

.settings-form {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* gap: 4px; */
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    font-family: 'JetBrainsMapleMono', monospace;
    height: 42px;
}

.fetch-console-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: 100%;
    justify-content: flex-start;
}

select {
    border: none;
    outline: none;
    font-family: 'JetBrainsMapleMono', monospace;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 6px;
    background: transparent;
    appearance: none;
    min-height: 26px;
    min-width: 118px;
}

.select-box {
    background: #eeeeee;
    border-radius: 6px;
}

.settings-table select {
    width: 100%;
    padding: 6px;
}

.single-id-search {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
}

.select:disabled,
#singleIdInput:disabled {
    display: none;
}

#singleIdCheckbox {
    display: none;
}

#singleIdInput {
    border: none;
    outline: none;
    font-family: 'JetBrainsMapleMono', monospace;
    width: fit-content;
    max-width: 132px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 6px;
    background: color-mix(in srgb, var(--primary-color) 15%, transparent);
    color: var(--primary-color);
    border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: color-mix(in srgb, var(--primary-color) 35%, transparent);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: color-mix(in srgb, var(--primary-color) 35%, transparent);
}

#singleIdInput:disabled {
    background-color: #f5f5f5;
    color: #999;
}

#modeInfomation {
    display: flex;
    flex-shrink: 0;
    padding: 4px 6px;
    margin: 0;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-color);
    border-radius: 6px;
    user-select: none;
    transition: all 0.1s ease;
}

#modeInfomation:hover {
    background: color-mix(in srgb, var(--primary-color) 15%, transparent);
    cursor: pointer;
}

p {
    margin: 0;
    font-size: 14px;
    flex-shrink: 0;
}

.input-group {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 4px;
}

#launcher .input-group {
    padding: 2px 6px;
    box-sizing: border-box;
}

#loadAnimate {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1.5px solid var(--primary-color);
    border-top-color: color-mix(in srgb, var(--primary-color) 40%, transparent);
    border-right-color: color-mix(in srgb, var(--primary-color) 40%, transparent);
    border-bottom-color: color-mix(in srgb, var(--primary-color) 40%, transparent);
    border-radius: 100%;
    transition: all 0.1s ease;
    opacity: 0;
}

#loadAnimate.active {
    animation: circle infinite 0.75s linear;
    opacity: 1;
}

#loadAnimate.unactive {
    animation: pauseCircle infinite 1.25s linear;
    opacity: 1;
    border: 1.5px solid color-mix(in srgb, var(--primary-color) 50%, transparent);
    border-top-color: color-mix(in srgb, var(--primary-color) 50%, transparent);
    border-right-color: color-mix(in srgb, var(--primary-color) 50%, transparent);
    border-bottom-color: color-mix(in srgb, var(--primary-color) 50%, transparent);
}

#loadAnimate.done {
    border: 1.5px solid var(--succcess-color);
    background: var(--succcess-color);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#loadAnimate.done::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    mask-image: url(./assets/check.svg);
    mask-size: cover;
    display: block;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pauseCircle {

    0%,
    100% {
        opacity: 0.25;
    }

    50% {
        opacity: 1;
    }
}

#progressText span {
    opacity: 50%;
}

#progressText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.console-container {
    position: sticky;
    bottom: 10px;
    left: 0;
    right: 0;
    width: calc(100vw - 15px);
    margin-top: -196px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    z-index: 99999;
}

#warningBox {
    height: 100%;
    width: 196px;
    box-sizing: border-box;
    margin: 0;
    background: #fff3f3;
    box-shadow: #00000030 0px 6px 14px;
    border-radius: 12px;
    border: 1px solid rgba(120, 65, 65, 0.12);
    padding: 12px 13px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: #c3494a;
    gap: 8px;
}

#warningBox p {
    line-height: 18px;
}

.icons {
    height: 18px;
    width: 18px;
    mask-size: cover;
    background-color: currentColor;
}

.icons.bin {
    mask-image: url(./assets/bin.svg);
}

.icons.mwz {
    mask-image: url(./assets/mwz.svg);
}

.icons.json {
    mask-image: url(./assets/json.svg);
}

.appButton {
    padding: 9px 11px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 32px;
    font-size: 13px;
    font-weight: 450;
    line-height: 13px;
    user-select: none;
    transition: all 0.1s ease;
    font-family: 'OPPOSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.appButton:hover {
    background-color: #f5f5f5
}

.menu-dropdown {
    position: absolute;
    left: 4px;
    bottom: 46px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 4px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 0.2s ease-in-out;
}

.menu-dropdown.menu-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.appMenuButton {
    padding: 10px 10px;
    width: 128px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 450;
    line-height: 13px;
    user-select: none;
    transition: all 0.1s ease;
    /* background-color: #f5f5f5; */
    font-family: 'OPPOSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.appMenuButton:hover {
    background-color: #f5f5f5;
}

.light-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    animation: fadeIn 0.2s ease-in-out;
    transition: opacity 0.3s;
}

.light-modal.hide {
    opacity: 0;
}

.light-modal-content {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 80%;
    max-width: 372px;
    position: relative;
    animation: slideIn 0.2s ease-in-out;
    box-shadow: #00000030 0px 6px 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    transition: transform 0.3s, opacity 0.3s;
}

.light-modal.hide .light-modal-content {
    transform: translateY(-20px);
    opacity: 0;
}

.light-modal-content p {
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.light-modal-content h3 {
    margin-bottom: 4px;
}

.light-modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #999;
}

.light-modal-close:hover {
    color: #333;
}

.light-modal.hide {
    opacity: 0;
}

.light-modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    position: relative;
    animation: slideIn 0.2s ease-in-out;
    transition: transform 0.3s, opacity 0.3s;
}

.light-modal.hide .light-modal-content {
    transform: translateY(-20px);
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    margin: 10px 0;
}

.server-offline-notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4f;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1001;
    animation: slideDown 0.3s ease-out;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
    transition: opacity 0.3s, transform 0.3s;
}

.server-offline-notification svg {
    flex-shrink: 0;
}

.server-offline-notification.hide {
    opacity: 0;
    transform: translate(-50%, -20px);
}

.notification-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notification-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 28px;
    gap: 8px;
}

.notification-actions button {
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    transition: opacity 0.2s;
    flex-shrink: 0;
    text-decoration: underline 1px;
    text-underline-offset: 3px;
    min-height: unset;
    opacity: 0.75;
    font-weight: 600;
}

.notification-actions button:hover {
    opacity: 1;
}

.final-warning {
    background-color: #ff4d4f;
    padding: 16px 20px;
}

@keyframes slideDown {
    from {
        transform: translate(-50%, -20px);
        opacity: 0;
    }

    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}